.inputContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.inputContainer input {
  width: 400px;
  margin: 5px;
  padding: 15px 15px;
  border-radius: 10px;
}

.inputContainer input:focus {
  outline: none;
}

.addButton {
  padding: 10px 20px;
  background-color: yellow;
  cursor: pointer;
  border: none;
  color: black;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 10px ;
}

.addButton:hover {
  background-color: rgb(240, 240, 113);
}

.error {
  color: red;
}

@media screen and (max-width: 768px) {
  .inputContainer {
    margin-bottom: 0;
    display: block;
  }

  .inputContainer input {
    width: 300px;
  }
}
